/* WidgetContainer.css */
.SaleCouponList__Container {
  display: flex;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.Imagestyles__ImageContainer {
  width: 450.4px;
  height: 195px;
}

/* Media query for tablets and below */
@media (max-width: 768px) {
  .SaleCouponList__Container {
    flex-direction: column;
    gap: 24px;
  }

  .Imagestyles__ImageContainer {
    width: 100%;
    height: auto;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .Imagestyles__ImageContainer {
    width: 100%;
    height: auto;
  }
}
