/* WidgetContainer.css */
.SaleCouponList__Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Adjusts the spacing between images */
  padding: 10px;
}

.Imagestyles__ImageContainer {
  flex: 1 1 calc(25% - 20px); /* 4 components per row on large screens */
  max-width: 310.4px;
}

.Imagestyles__ImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: fill;
  cursor: default;
}

@media (max-width: 1024px) {
  .Imagestyles__ImageContainer {
    flex: 1 1 calc(33.33% - 20px); /* 3 components per row on small screens */
  }
}

@media (max-width: 768px) {
  .Imagestyles__ImageContainer {
    flex: 1 1 calc(50% - 20px); /* 2 components per row on extra small screens */
  }
}