.categories {
    background-color: var(--body-background);
    padding: 30px; /* Added padding */
}

.category-container {
    margin-top: 20px;
}

.category-link {
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s;
    background-color: var(--second-cards-color);
    color: var(--font-color);
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.category-link:hover {
    background-color: whitesmoke;
    color: white;
    transform: scale(1.05);
}

.category-title {
    font-size: 1.4rem; /* Adjusted font size */
    font-weight: bold;
    color: var(--primary-color);
}

.category-subtitle {
    font-size: 1rem; /* Adjusted subtitle font size */
    color: var(--sub-text-color);
}

/* Responsive styles */
@media (max-width: 768px) {
    .category-link {
        padding: 8px;
    }

    .category-title {
        font-size: 1.2rem;
    }

    .category-subtitle {
        font-size: 0.9rem;
    }
}

.outer-circle {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.inner-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
