/* .allImagesTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
} */
/* #all-ratings-images {
  background-color: var(--bs-white);
  border-radius: 8px;
  padding: 10px;
  min-height: 400px;
}
#all-ratings-images .allRatingImagesContainer {
  gap: 20px;
}
#all-ratings-images .allRatingImagesContainer img {
  width: 205px;
  height: 205px;
  border-radius: 8px;
} */
